In [9]:
import pandas as pd

In [10]:
df = pd.DataFrame()

x = list(range(5000))
y = list(range(5000))

df['x'] = x
df['y'] = y

In [11]:
df.head(10)

   x  y
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6
7  7  7
8  8  8
9  9  9

In [13]:
%%time
sum_x = 0
sum_y = 0
df.iloc[1]['x']

Wall time: 0 ns

1

In [14]:
%%time
for i in range(len(df)):
    sum_x = sum_x + (df.iloc[i]['x'] + 1)
    sum_y = sum_y + (df.iloc[i]['y'] + 1)
print(sum_x + sum_y)

25005000
Wall time: 3.95 s

In [17]:
%%time
sum_x = 0
sum_y = 0
for index,rows in df.iterrows():
    sum_x = sum_x + (rows.x + 1)
    sum_y = sum_y + (rows.y + 1)
    
print(sum_x + sum_y)

25005000
Wall time: 1.24 s

In [19]:
%%time
sum_x = 0
sum_y = 0
for rows in df.itertuples():
    sum_x = sum_x + (rows.x + 1)
    sum_y = sum_y + (rows.y + 1)
    
print(sum_x + sum_y)

25005000
Wall time: 15.7 ms